// ==========================================================================
//   Helpers
// ==========================================================================

// -----------------------------------------------------------------------------
//  Clearfix
//  http://nicolasgallagher.com/micro-clearfix-hack/
// -----------------------------------------------------------------------------

@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

%clearfix {
  @include clearfix;
}

// -----------------------------------------------------------------------------
// Centered  with margin
// -----------------------------------------------------------------------------

@mixin centered { margin: 0 auto; }
%centered { @include centered; }


// -----------------------------------------------------------------------------
// Hidden
// -----------------------------------------------------------------------------

@mixin hidden {
    display: none !important;
    visibility: hidden;
}

%hidden {
  @include hidden;
}


// -----------------------------------------------------------------------------
// Image replacement
// -----------------------------------------------------------------------------

@mixin ir {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

%ir {
  @include ir;
}



@mixin box-sizing($type: bb) {

  @if $type == bb { $type: border-box ; }
  @if $type == cb { $type: content-box; }
  @if $type == pb { $type: pading-box; }

  -moz-box-sizing: $type;
  box-sizing: $type;
}

// -----------------------------------------------------------------------------
// Border Box Sizing
// -----------------------------------------------------------------------------

@mixin border-box-sizing {
  *, *:before, *:after  { @include box-sizing(); }
}

// -----------------------------------------------------------------------------
// Absolute Positioning
// -----------------------------------------------------------------------------
@mixin abs($t: false, $r: false, $b: false, $l:false) {
  position: absolute;

  @if $t {
    top: $t;
  }
  @if $r {
    right: $r;
  }
  @if $b {
    bottom: $b;
  }
  @if $l {
    left: $l;
  }
}

// -----------------------------------------------------------------------------
// Relative Positioning
// -----------------------------------------------------------------------------
@mixin rel($t: false, $r: false, $b: false, $l:false) {
  position: relative;

  @if $t {
    top: $t;
  }
  @if $r {
    right: $r;
  }
  @if $b {
    bottom: $b;
  }
  @if $l {
    left: $l;
  }
}


// -----------------------------------------------------------------------------
// Before and after mixins
//
// Use to quickly add a before or after pseudo element
// -----------------------------------------------------------------------------
@mixin before($content: "", $display: block) {
  &:before {
    content: $content;
    display: $display;
    @content;
  }
}

@mixin after($content: "", $display: block) {
  &:after {
    content: $content;
    display: $display;
    @content;
  }
}


// ---------------------------------------------------------------------------------------------
//  Important Block, !important all the things!
//  Helpful when you are dealing with a ton of inline styles or just want to watch the world burn.
//  Takes a list of properties and values and adds important to the end of each pair
//
//  ex:
//      div { @include blame-block(width 20px height 50px color red font-size 2em); }
//
//      OR
//
//      $blame: float, left, display, block, width, 100%
//      header { @include blame-block($blame); }
// -----------------------------------------------------------------------------

@mixin important-block($list) {

    $length: length($list);

    @if( $length%2 != 0) {
        @warn("Important Block must have an even number of arguments");
    } @else {

        @for $i from 1 through ($length/2) {
            $prop: nth($list, ($i + $i) - 1);
            $value: nth($list, $i + $i);
            #{$prop}: #{$value}  !important;
        }

    }
}









