/* ==========================================================================
   Helpers
   ========================================================================== */

// -----------------------------------------------------------------------------
//  Clearfix
//  http://nicolasgallagher.com/micro-clearfix-hack/
// -----------------------------------------------------------------------------

@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

%clearfix {
  @include clearfix;
}

// -----------------------------------------------------------------------------
// Centered  with margin
// -----------------------------------------------------------------------------

@mixin centered { margin: 0 auto; }
%centered { @include centered; }


// -----------------------------------------------------------------------------
// Hidden
// -----------------------------------------------------------------------------

@mixin hidden {
    display: none !important;
    visibility: hidden;
}

%hidden {
  @include hidden;
}


// -----------------------------------------------------------------------------
// Image replacement
// -----------------------------------------------------------------------------

@mixin ir {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

%ir {
  @include ir;
}



@mixin box-sizing($type: bb) {

  @if $type == bb { $type: border-box ; }
  @if $type == cb { $type: content-box; }
  @if $type == pb { $type: pading-box; }

  -moz-box-sizing: $type;
  box-sizing: $type;
}

// -----------------------------------------------------------------------------
// Border Box Sizing
// -----------------------------------------------------------------------------

@mixin border-box-sizing {
  *, *:before, *:after  { @include box-sizing(); }
}

// -----------------------------------------------------------------------------
// Absolute Positioning
// -----------------------------------------------------------------------------
@mixin abs($t: false, $r: false, $b: false, $l:false) {
  position: absolute;

  @if $t {
    top: $t;
  }
  @if $r {
    right: $r;
  }
  @if $b {
    bottom: $b;
  }
  @if $l {
    left: $l;
  }
}

// -----------------------------------------------------------------------------
// Before and after mixins
//
// Use to quickly add a before or after pseudo element
// -----------------------------------------------------------------------------
@mixin before($content: "", $display: block) {
  &:before {
    content: $content;
    display: $display;
    @content;
  }
}

@mixin after($content: "", $display: block) {
  &:after {
    content: $content;
    display: $display;
    @content;
  }
}









